@charset "UTF-8";
/*Обнуление*/
/* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*body {
  background: #4e4b4b;
  color: rgb(179, 175, 175);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}*/

body{
  background: #bbb;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
img{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(63, 71, 63, 0.8);
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #ffffff;
  /* font-size: 25px; */
  /* font-weight: bold; */
  /* transition: all 0.7s; */
}
/* a:visited{
  color: red;
} */
.container{
  max-width: 400px;
  margin: auto;
  padding-top: 10px;
}
.nav {
  background: #b37a7a;
  margin-bottom: 10px;
  /* padding: 15px; */
  box-shadow: 5px 5px 15px rgba(63, 71, 63, 0.8);
  border-radius: 20px;
  /* position: fixed; */
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}
.nav-link {
  margin-right: 10px;
  padding: 10px;
}
.in{
  color: rgb(6, 32, 10);
}
.nav-link:hover {
  background: #585050;
  border-radius: 20px;
  transition: all 0.5s;
}
.nav-link:last-child{
  margin: 0;
}
/* .img{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.name {
  color: #692f08;
  border: 2px #7a1406 solid;
  background: #d6aeae;
  text-align: center;
  margin: 0;
}
.title {
font-size: 20px;
}
.info, .hobby, .table, .social, .name{
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(63, 71, 63, 0.8);
  border-radius: 20px;

}
.info{
  border: 2px #7e8605 solid;
  background: #d8e29f;
}
.hobby{
  border: 2px #0e8a18 solid;
  background: #bfeb8e;
}

.list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list li{
  border-bottom: 2px solid #195f1f;
  margin-bottom: 10px;
}
.table{
  border: #692f08 2px solid;
  background: #e6ac7e;
}
.table th{
  padding-bottom: 10px;
}
.table td{
  /* text-align: center; */
  padding-bottom: 10px;
}
.social{
  border: #090338 2px solid;
  background: #7173ec;
}
.btn{
  background: #000;
  color: #bbb;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}
.btn:hover{
  opacity: 0.7;
}
.text, .email {
  all: unset;
  border-bottom: 2px solid #000;
  color: #dfd2d2;
}

.area {
  /* all: unset; */
  border: none;
  background: none;
  border-bottom: 2px solid #000;
  color: #dfd2d2;
  outline: none;
}
::placeholder{
  color: #dfd2d2;
}