  @import "_nullstyle.scss";
  @import "_global.scss";

  body {
  	background: #4e4b4b;
  	color: rgb(179, 175, 175);
	  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
  }